<%-include ("../partials/header")  %> 

<div class="container">
    <div class="text-center new-comment">
        <h1 class="newcbcgh1">Update Your Comment</h1>
        <form action="/showcampbook/<%=foundPost._id%>/comment/<%=selectedComment._id%>?_method=PUT" method="POST" class="newcbcg" id="comment-textbox">
            <div class="form-group">
                <input type="text" class="form-control" name="commentAuthor" id="" value="<%=selectedComment.commentAuthor%>" hidden>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="commentAuthorId" id="" value="<%=selectedComment.commentAuthorId%>" hidden>
            </div>
            <div class="form-group">
                <textarea rows="10" form="comment-textbox" class="form-control" name="commentDetails" id="" required > <%=selectedComment.commentDetails%> </textarea>
            </div>
            <div class="form-group">
                <div class="rating" >    
                    <i class="far fa-star fa-2x ratingstars"></i>
                    <i class="far fa-star fa-2x ratingstars"></i>
                    <i class="far fa-star fa-2x ratingstars"></i>
                    <i class="far fa-star fa-2x ratingstars"></i>
                    <i class="far fa-star fa-2x ratingstars"></i>
                    <input id="rate" type="number" class="form-control" name="postRating" max="5" min="1" value="<%=selectedComment.postRating%>" required>
                </div>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-addnewcamppost btn-block">Update Your Comment</button>
            </div>
        </form>
    </div>

</div>



<%-include ("../partials/footer")  %> 